*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.item{
    background-color: lightblue;
    padding: 2rem;
    font-size: 1.5em;
    border: 2px solid blue;

}
.container{
    display: flex;
    /* flex-direction: row; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    flex-wrap:wrap;
    
    /* justify-content:baseline; */
    /* justify-content: center; */
    /* justify-content:end; */
    /* justify-content:first baseline; */
    /* justify-content:left; */
    /* justify-content:right; */
    /* justify-content:right; */
    /* justify-content:space-around; */
    /* justify-content:space-between; */
    /* justify-content:space-evenly; */

    height: 80vh;
    background-color: lightgray;
    /* align-items: center; */
    /* align-items: stretch; */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items:end; */

    /* align-content: center; */
    /* align-content: start; */
    /* align-content: end; */
    /* align-content:space-around; */
    /* align-content:space-between; */
    /* align-content:space-evenly; */
    /* align-content:stretch; */
};